<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.androidproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidProject"
        android:usesCleartextTraffic="true">
        <activity android:name=".aktiviteetit.TietoaMeista"
            android:parentActivityName=".aktiviteetit.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".aktiviteetit.TietoaMeista" />
        </activity>
        <activity
            android:name=".aktiviteetit.AteriaInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AndroidProject.PopupTheme" />
        <activity android:name=".aktiviteetit.Asetukset"
            android:screenOrientation="portrait"
            android:parentActivityName=".aktiviteetit.Profiili">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".aktiviteetit.Profiili" />
        </activity>
        <activity
            android:name=".aktiviteetit.Profiili"
            android:screenOrientation="portrait"
            android:parentActivityName=".aktiviteetit.MainActivity" />
        <activity
            android:name=".aktiviteetit.KalenteriActivity"
            android:theme="@style/Theme.AndroidProject.PopupTheme" />
        <activity
            android:name=".aktiviteetit.TiedotActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AndroidProject.PopupTheme" />
        <activity
            android:name=".aktiviteetit.AteriaActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".aktiviteetit.AteriatActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".aktiviteetit.AteriatActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".aktiviteetit.MainActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".aktiviteetit.HakuActivity"
            android:screenOrientation="portrait"
            android:parentActivityName=".aktiviteetit.AteriaActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".aktiviteetit.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>