<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidProject"
        android:usesCleartextTraffic="true">
        <activity android:name=".aktiviteetit.Asetukset"></activity>
        <activity android:name=".aktiviteetit.Profiili" />
        <activity
            android:name=".aktiviteetit.KalenteriActivity"
            android:theme="@style/Theme.AndroidProject.PopupTheme" />
        <activity
            android:name=".aktiviteetit.TiedotActivity"
            android:theme="@style/Theme.AndroidProject.PopupTheme" />
        <activity
            android:name=".aktiviteetit.AteriaActivity"
            android:parentActivityName=".aktiviteetit.AteriatActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".aktiviteetit.AteriatActivity"
            android:parentActivityName=".aktiviteetit.MainActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".aktiviteetit.HakuActivity"
            android:parentActivityName=".aktiviteetit.AteriaActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".aktiviteetit.MainActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>